mat-toolbar {
    background-color: #333;
    color: #fff;
  }
  
  div {
    margin: 20px;
  }
  
  h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  mat-tab-group {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  }  