<mat-toolbar color="black">
  Welcome, {{loggedInUser}}
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Time Management">
    <div>
      <form (ngSubmit)="logHours()">
        <div>
          <label for="startTime">Start Time:</label>
          <input type="time" id="startTime" [(ngModel)]="startTime" name="startTime">
        </div>
        <div>
          <label for="endTime">End Time:</label>
          <input type="time" id="endTime" [(ngModel)]="endTime" name="endTime">
        </div>
        <button type="submit">Log Hours</button>
      </form>
        <ul>
        <li *ngFor="let log of previousHours">
          {{ log.logDate }}: {{ log.startTime }} - {{ log.endTime }} ({{ log.hours }} hours)
        </li>
        </ul>

      <h3>Request Time Off</h3>
      <label>
        Do you want to request time off? 
        <input type="radio" name="timeOff" [(ngModel)]="wantTimeOff" value="yes"> Yes
        <input type="radio" name="timeOff" [(ngModel)]="wantTimeOff" value="no"> No
      </label>
      
      <div *ngIf="wantTimeOff === 'yes'">
        <label>
          Hours for time off: 
          <input type="number" [(ngModel)]="timeOffHours" min="1">
        </label>
        <button (click)="requestTimeOff()">Submit Request</button>
      </div>
    </div>
  </mat-tab>

  <!-- Leave Management Tab -->
<mat-tab label="Leave Management">
  <div>
    <h3>Current Leave Balances</h3>
      <p><strong>Vacation:</strong> {{vacationBalance}} hours</p>
      <p><strong>Sick Leave:</strong> {{sickLeaveBalance}} hours</p>
      <p><strong>Personal Leave:</strong> {{personalLeaveBalance}} hours</p>

    <h3>Request Leave</h3>
      <mat-form-field>
        <mat-label>Select Leave Type</mat-label>
        <mat-select [(ngModel)]="selectedLeaveType">
          <mat-option value="vacation">Vacation</mat-option>
          <mat-option value="sick">Sick Leave</mat-option>
          <mat-option value="personal">Personal Leave</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="leaveHours" placeholder="Hours for Leave">
      </mat-form-field>
      <button mat-raised-button (click)="requestLeave()">Request Leave</button>
    </div>
  </mat-tab>
</mat-tab-group>