<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>
      Email:
      <input type="email" formControlName="email">
    </label>
    <label>
      Username:
      <input type="text" formControlName="username">
    </label>
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>
    <label>
      Role:
      <select formControlName="role">
        <option value="employee">Employee</option>
        <option value="admin">Admin</option>
      </select>
    </label>
    <button type="submit">Register</button>
</form> 